<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gmail-Suite">
	<parameter name="browser" value="chrome" />
	<parameter name="url" value="https://www.google.co.in/" />
	<test thread-count="5" name="Gamil-Test">
	<parameter name="username" value="Npemail@gmail.com"/>
	<!-- <parameter name="password" value="Nopassword"/> -->

		<classes>
			<class name="com.sydulu.AppUtils" />
			<class name="com.sydulu.GoogleTest" />
		</classes>

	</test> <!--
	Test -->
</suite> <!--
Suite -->
